.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}
 
.drawer-app-content {
  flex: auto;
  overflow: auto;
}
 
.top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}
.add-button {
  position: absolute;
  top: 550px;
  float: right;
}