.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}
 
.drawer-app-content {
  flex: auto;
  overflow: auto;
}
 
.top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}
.add-class {
  position: relative;
  top: 550px;
  margin-right: 32px;
  float: right;
}
.user-icon-class{
  margin-left: 79%;
}
.list-class{
  width: 250px;
}

.toggle-back{
  width: inherit;
}
.card-grid{
  width: 900px;
}
.paper-class{
  margin-top: 2%;
  display: flex;
  align-items:center;
  width: 900px;
}
.save-button-class{
  padding: 7px;
  float: right;
}